<div class="page-container">
  <div class="container">
    <h2>Projects</h2>
    <div class="project">
      <h3>EstateXChange Blockchain</h3>
      <p>EstateXChange Blockchain enables ownership fractions by creating tokens. The user that wants to invest in the property can buy tokens and hold the tokens if the property is rented then the user will get profit every month when the rent will be paid and if the user wants to sell the tokens when he sees that the price of tokens has increased he can sell the tokens and get the profit.</p>
    </div>
    <!-- Add more project items as needed -->
  </div>
</div>
