<!-- dashboard.component.html -->
<div class="container">
    <h2>Welcome to My Dashboard</h2>
    <div class="content">
        <div class="section">
            <h3>Studies</h3>
            <p>Studied Matric from Islamabad Model College for boys G7/4</p>
            <p>Studied Intermediate from Steps College for boys</p>
            <p>Studied Software Engineering from University Institute of information and technology</p>
        </div>
        <div class="section">
            <h3>Achievements</h3>
            <p>1. Worked as a Graphic Designer for Har Qisam ki kitaben</p>
            <p>2. Worked as an Ambassador for Connected Pakistan</p>
            <p>3. Worked as an Ambassador for FES</p>
            <p>4. Worked as a Content Writer for Online Websites</p>

        </div>
    </div>
</div>
